html,
body {
  height: 100%; }

canvas {
  display: block; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.bgcolor-context {
  background-color: #646729; }

.color-context {
  color: #646729; }

.bgcolor-group {
  background-color: #fafafa; }

.color-group {
  color: #fafafa; }

.bgcolor-path {
  background-color: #e00777; }

.color-path {
  color: #e00777; }

.bgcolor-wall {
  background-color: #00FF00; }

.color-wall {
  color: #00FF00; }

button,
.btn {
  text-align: center;
  font-size: 25px;
  width: 30px;
  height: 30px;
  margin: 2px;
  border: 1px solid black;
  padding: 0; }
  button:active,
  button.active,
  .btn:active,
  .btn.active {
    background-color: yellow;
    color: red; }

.info-panel {
  left: 0; }

.info-panel ul {
  list-style-type: none; }

.control.entity-panel {
  right: 0;
  text-align: left;
  width: 150px;
  /*max-height: 50%;
  overflow-y: scroll;*/ }
  .control.entity-panel .properties {
    padding: 5px; }

.select-modes {
  text-align: left;
  width: 100%; }

.control {
  padding: 0;
  margin: 0;
  opacity: 0.6;
  background-color: lightgray;
  position: absolute;
  top: 20%;
  width: 100px;
  opacity: 0.8; }

.console {
  position: absolute;
  bottom: 0;
  opacity: 0.8;
  right: 0;
  width: 100%;
  background-color: lightgray; }

.console-show {
  height: 20%; }

.console-hide {
  height: 30px; }

.hide {
  display: none; }

.console ul li {
  display: inline; }

.btn-2x {
  width: 50px; }

.btn-3x {
  width: 75px; }

.btn-4x {
  width: 100px; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.label {
  padding: 2px;
  background-color: aqua; }

ul.list-inline {
  display: inline; }
  ul.list-inline li {
    display: inline; }

.entity {
  display: inline;
  width: 100%; }

.entity-list-container {
  overflow-y: auto; }
  .entity-list-container li {
    border: 1px solid black;
    cursor: pointer; }
