* {
  padding: 0;
  margin: 0;
}
html, body {
  height: 100%;
}
canvas {
  display: block;
}
.info_panel {
  background-color: lightgray;
  padding: 0px;
  margin: 0px;
  opacity: 0.6;
}
.info_panel ul {
  list-style-type: none;
}
#control {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 100px;
  opacity: 0.8;
}
#console {
  position: absolute;
  bottom: 0px;
  opacity: 0.8;
  right: 0px;
  width: 100%;
}
.console_show {
  height: 20%;
}
.console_hide {
  height: 30px;
}
#console ul li {
  display: inline;
}
button {
  margin: 2px;
  border: 1px solid black;
  padding: 2px;
}
button:active {
  background-color: gray;
}
