$btn-base-size: 25px;
html,
body {
  height: 100%;
}
canvas {
  display: block;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  &.list-inline {
    display: inline;
    li {
      display: inline;
    }
  }
}

.hide {
  display: none;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align:right;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.label {
  margin-top:5px;
  padding: 2px;
  background-color: aqua;
  border-top: 2px solid gray;
}
.sublabel{
  margin-top:1px;
  border-top: 2px dotted gray;
  border-bottom: 2px dotted gray;
  background-color: lightblue;
  padding:2px;
}
.separator{
  background-color: black;
  height:10px;
}
$colors: ( context:#8f9433, group: #fafafa,path: #e00777, wall: #00FF00);
@each $color,
$value in $colors {
  .bgcolor-#{$color} {
    background-color: $value;
  }
  .color-#{$color} {
    color: $value;
  }
}
button,
.btn {
  text-align: center;
  font-size: $btn-base-size;
  width: $btn-base-size+5px;
  height: $btn-base-size+5px;
  margin: 2px;
  border: 1px solid black;
  padding: 0;
  &:active,
  &.active {
    background-color: yellow;
    color: red;
  }
}



.highlight {
  background-color: yellow;
}

.info-panel {
  left: 0;
}
.info-panel ul {
  list-style-type: none;
}

.control.entity-panel {
  right: 0;
  text-align: left;
  width: 150px;
  input {
    width: 80%;
  }
  input[type='checkbox'] {
    width: 20px;
    height: 20px;
    position: absolute;
  }
  /*max-height: 50%;
  overflow-y: scroll;*/
  .properties {
    padding: 5px;
    .entity-props {

    }
  }
}
.select-modes{
  text-align: left;
  width: 100%;
}

.control {
  padding: 0;
  margin: 0;
  opacity: 0.6;
  background-color: lightgray;
  position: absolute;
  top: 10%;
  width: 100px;
  opacity: 0.8;
}
.console {
  padding:0;
  margin:0;
  ul {
    li {
      float:left;
      border: 1px solid black;
      padding: 5px;
    }
  }
  position: absolute;
  bottom: 0;
  opacity: 0.8;
  right: 0;
  width: 100%;
  background-color: lightgray;
}
.console-show {
  height: 20%;
}
.console-hide {
  height: 30px;
}
.console ul li {
  display: inline;
}

@each $size in (2,3,4) {
  .btn-#{$size}x {
    width: $size * $btn-base-size;
  }
}
.engine {
  margin-bottom: 10px;
}
.engine, .properties {
  padding: 5px;
}
.entity {
  display:inline;
  width:100%;
}
.entity-list-container {
  li {
    width: 80%;
    margin-bottom: 2px;
    float:right;
    border: 2px solid black;
    cursor: pointer;
    &:before {
      content: 'L';
      display:inline;
      float:left;
      margin-left: -15%;
    }

  }
  .title {
    display: inline-block;
    width:98%;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight:bold;
    background-color: black;
    border: 1px solid white;
    color:white;
    position:relative;
  }
  height:100%;
  overflow-y: auto;
}

.dialog {
  border: 5px solid gray;
  position: absolute;
  height: 85%;
  width: 60%;
  left: 20%;
  background-color: white;
  opacity: 0.7;
  padding: 20px;
  top: 5%;
  font-family: monospace;
  font-size: 1.2em;
  font-weight: bold;
  white-space: pre;
  overflow-y: auto;
  .close {
    position: absolute;
    right: 35px;
  }
}
notebook{
  height:100%;
  width:100%;
}
